@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

*,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img.doctor {
  height: 670px;
  transform: translate(0px, -65px);
}

ul,
ol {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #3a4256;
  transition: 0.4s ease;
  line-height: 28px;
}

li a:hover {
  color: #19d3ae;
  margin-left: 8px;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,
.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #19d3ae !important;
}
.heroCalendar .css-169iwlq-MuiCalendarPicker-root {
  margin: 0 !important;
  margin-top: 30px !important;
  background-color: #fff;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  border: 1px solid #19d3ae !important;
}
